<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546007763261-825403m6pdf74107ert74h4m8sio71r6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546007763261-825403m6pdf74107ert74h4m8sio71r6</string>
	<key>API_KEY</key>
	<string>AIzaSyC_fqNUAmvFxdKr67GS7GEE5lk4l62WJPY</string>
	<key>GCM_SENDER_ID</key>
	<string>546007763261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.izisoft.mathgameskids</string>
	<key>PROJECT_ID</key>
	<string>p51shiptea</string>
	<key>STORAGE_BUCKET</key>
	<string>p51shiptea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546007763261:ios:ff77a3e2aa8807e000dd54</string>
</dict>
</plist>